<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zl.app">

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE"/>

    <!-- 允许访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <!--  -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

    <application
        android:name=".MyApplication_"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XgfwG6ILdE5Ffk8PsyYzYgiT"/>

        <activity android:name=".activity.StartActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity_"/>
        <activity android:name=".activity.user.LoginActivity_"/>
        <activity android:name=".activity.user.RegistActivity_"/>
        <activity android:name=".activity.user.GetPasswordActivity_"/>
        <activity android:name=".activity.user.ModifyPasswordActivity_"/>
        <activity android:name=".activity.user.UserInfoActivity_"/>

        <!--chart -->
        <activity
            android:name=".activity.chart.ChartActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".activity.chart.ChartListActivity"/>

        <!--news -->
        <activity android:name=".activity.news.NewsDetailActivity_"/>
        <activity android:name=".activity.news.NewsDetailActivityWeb_"/>
        <activity android:name=".activity.news.CommentsListActivity_"/>

        <!--orgs -->
        <activity
            android:name=".activity.org.OrgListActivity_"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <activity android:name=".activity.org.OrgWeiSiteActivity"/>
        <activity android:name=".activity.org.OrgGradePostActivity"/>
        <activity android:name=".activity.org.OrgYuYueActivity"/>
        <activity android:name=".activity.org.CitySelectActivity"/>
        <activity android:name=".activity.org.ClassSelectActivity"/>
        <activity android:name=".activity.org.WebDetailActivity"/>

        <!-- mine  -->
        <activity android:name=".activity.mine.MyYuyueActivity"/>
        <activity android:name=".activity.mine.MyChildrenActivity"/>
        <activity android:name=".activity.mine.AddChildActivity"/>
        <activity android:name=".activity.mine.EditChildActivity"/>
        <activity android:name=".activity.mine.OrderActivity"/>
        <activity android:name=".activity.mine.UserInfoActivity"/>
        <activity android:name=".activity.mine.userupdate.UpdateUserNameActivity"/>
        <activity android:name=".activity.mine.userupdate.UpdateQianMingActivity"/>
        <activity android:name=".activity.mine.userupdate.UpdateAddressActivity"/>
        <activity android:name=".activity.mine.userupdate.UserQRActivity"/>
        <activity android:name=".activity.mine.FrendsActivity"/>
        <activity android:name=".activity.mine.SystemSettingsActivity"/>
        <activity android:name=".activity.mine.UsingFeedbackActivity"/>
        <activity android:name=".activity.mine.ResetPasswordActivity"/>
        <activity android:name=".activity.mine.SystemNoticeActivity"/>
        <activity
            android:name=".activity.mine.CaptureActivityAnyOrientation"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
        <activity android:name=".activity.mine.babyupdate.UpdateBabyNameOrIdActivity"/>
        <activity android:name=".activity.mine.babyupdate.UpdateBabyBirthdateActivity"/>
        <activity android:name=".activity.mine.FrendSearchActivity"/>


        <!-- activities -->
        <activity android:name=".activity.activities.PublishActivity"/>
        <activity
            android:name=".activity.activities.DetailActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".activity.activities.SearchActivity"/>
        <activity android:name=".activity.activities.SearchResultActivity"/>
        <activity android:name=".activity.activities.JoinMembersActivity"/>
        <activity android:name=".activity.activities.HisActivitiesActivity"/>

        <!-- course -->

        <activity android:name=".activity.course.SearchCourceOrgActivity"/>
        <activity android:name=".activity.course.CoursePDTActivity"/>
        <activity
            android:name=".activity.course.CourseMessageActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <!-- Baidu Map -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <receiver android:name=".broadcastReceiver.LogoutBroadcastReceiver">
            <intent-filter>
                <action android:name="com.zl.app.LOGOUT_BROADCAST"/>
            </intent-filter>
        </receiver>


        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.zl.app"/>
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="com.zl.app"/>
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>   <!--Required  显示通知栏 -->
                <category android:name="com.zl.app"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".broadcastReceiver.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION"/><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.zl.app"/>
            </intent-filter>
        </receiver>


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="6a8d2cb13bd0e2382b63fde0"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/> <!--  </>值来自开发者平台取得的AppKey-->

    </application>

</manifest>
